{% extends "base.html"%}

{% block content %}
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, accusamus?
                    </h1>
                    <h2 class="splash-subhead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae sequi tempore est ratione! Repellat soluta animi voluptatum, totam reprehenderit harum!
                    </h2>
                    <p>
                        <a href="#" class="pure-button primary-button">Saiba mais</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, vel.</h4>
                    <h3>Publique suas aulas</h3>
                    <p>
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi porro quisquam dolor culpa et debitis quidem blanditiis commodi aliquam, repellendus reprehenderit facilis.
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Vídeo aulas e materiais digitais.">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Fórum de Dúvidas">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Fórum de Dúvidas</h4>
                    <h3>Lorem ipsum dolor sit amet.</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, cupiditate?
                    </p>
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Exercícios</h4>
                    <h3>Crie exercícios para avaliar seus alunos</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates sit dicta praesentium doloremque totam molestias cum laborum. Sed, cumque adipisci!
                    </p>
                </div>
            </div>
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Exercícios">
                </div>
            </div>
        </div>
        <div class="pure-g-r content-ribbon">
            <div class="pure-u-1-3">
                <div class="l-box">
                    <img src="http://placehold.it/400x250"
                         alt="Mural de Avisos">
                </div>
            </div>
            <div class="pure-u-2-3">
                <div class="l-box">
                    <h4 class="content-subhead">Mural de Avisos</h4>
                    <h3>Envie anúncios diretamente para os alunos</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut, consequatur.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}